<div id="main-container">
    <div id="logo" (click)="game.home()"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>{{ title }}</h1>
    <div class="shape triangle outline"></div>
    <div class="shape square"></div>
    <div class="shape circle"></div>
    <div class="shape rombo"></div>
    <div id="stats">
        <div *ngIf="segundo" id="second" class="stat">
            <div class="stat-column"><span>2</span></div>
            <span class="username">{{segundo.nombre}}</span>
            <span class="points">{{segundo.puntos}} points</span>
        </div>
        <div *ngIf="primero" id="first" class="stat">
            <div class="stat-column"><span>1</span></div>
            <span class="username">{{primero.nombre}}</span>
            <span class="points">{{primero.puntos}} points</span>
        </div>
        <div *ngIf="tercero" id="third" class="stat">
            <div class="stat-column"><span>3</span></div>
            <span class="username">{{tercero.nombre}}</span>
            <span class="points">{{tercero.puntos}} points</span>
        </div>
    </div>
    <button id="finish-button" class="btn btn-outline" (click)="finish()">Finish</button>
</div>