<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>¡Has ganado!</h1>
    <div class="shape triangle outline"></div>
    <div class="shape square"></div>
    <div class="shape circle"></div>
    <div class="shape rombo"></div>
    <div id="stats">
        <div id="second" class="stat">
            <div class="stat-column"><span>2</span></div>
            <span class="username">priiiiis4</span>
            <span class="points">23 points</span>
        </div>
        <div id="first" class="stat">
            <div class="stat-column"><span>1</span></div>
            <span class="username">polribas14</span>
            <span class="points">26 points</span>
        </div>
        <div id="third" class="stat">
            <div class="stat-column"><span>3</span></div>
            <span class="username">iMartiiinX</span>
            <span class="points">20 points</span>
        </div>
    </div>
</div>