#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

#home-buttons {
    position:absolute;
    bottom:0;
    width:100%;
    height:350px;
    display: block;
    text-align: center;
}

.rombo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 91px;
    left: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff0000;
    top: 307px;
    left: 303px;
    transform: rotate(45deg);
}

.circle {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #80de21;
    

    top: 124px;
    left: 256px;
}

.circle2 {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #c70b56;
    

    top: 456px;
    left: 99px;
}

.square {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 91px;
    left: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #0080ff;
    top: 240px;
    left: 27px;
}

.gredient_input {
    /* styling background using linear gradient */
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
     
        border: 1px solid rgba(0, 0, 0, 0.16);
        height: 25px;
        padding: 5px 10px 5px 5px;
        font-size: 15px;
        width: 270px;
        border-radius: 3px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

.button1 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:  100px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    padding: .5rem 3rem;
    color: #000;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #f84f32 0%, #681cd9 25%, #c1cf02 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    border-radius: 10px;  
}

.button2 {
    background-image: linear-gradient(to right, #f84f32 0%, #681cd9 25%, #c1cf02 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom:  60px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 10px;
  }