<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>El código de partida es</h1>
    <h2 class="btn btn-outline">{{ id_partida }}</h2>
    <ul id="start-users-list" *ngIf="partida && partida.usuarios" >
        <li *ngFor="let user of partida.usuarios">{{user.nombre}}</li> 
    </ul>
    <div class="big-shapes">
        <div class="shape triangle outline"></div>
        <div class="shape square"></div>
        <div class="shape circle"></div>
        <div class="shape rombo"></div>
    </div>
    <input placeholder="Enter a title" [(ngModel)]="nombre" *ngIf="!partida">
    <div class="select-style" *ngIf="!partida">
        <select required [(ngModel)]="set">
            <option *ngFor="let q of questions" [ngValue]="q">{{q}}</option>
        </select>
    </div>
    <button *ngIf="!partida" class="btn btn-outline" [disabled]="!set || !nombre" (click)="createPartida()">Create Game</button>
    <button class="btn btn-outline" *ngIf="partida" [disabled]="!partida || !partida.usuarios || partida.usuarios.length < 3" (click)="iniciPartida()">Start Game</button>
</div>