<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>El código de partida es</h1>
    <h2 class="btn btn-outline">{{ id_partida }}</h2>
    <ul id="start-users-list" >
    <!-- <ul id="start-users-list" *ngIf="partida">
        <li *ngFor="let user of partida.usuarios">{{ user.nombre }}<img class="cross" src="../../assets/img/delete.svg" (click)="deleteUser(user)"></li> -->
        <li class="back-green">polribas14<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-red">koubura<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-blue">priis4<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-yellow">sirholler<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-green">iMartiinX<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-red">caca123<img class="cross" src="../../assets/img/delete.svg"></li>
        <li class="back-blue">holoholo<img class="cross" src="../../assets/img/delete.svg"></li>
    </ul>
    <div class="big-shapes">
        <div class="shape triangle outline"></div>
        <div class="shape square"></div>
        <div class="shape circle"></div>
        <div class="shape rombo"></div>
    </div>
    <button class="btn btn-outline">Select questions set</button>
    <button class="btn btn-outline" [disabled]="!partida">Start Game</button>
</div>