<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>El código de partida es</h1>
    <h2 class="btn btn-outline">{{id}}</h2>
    <ul id="start-users-list">
        <li *ngFor="let user of users | async">{{user.nombre}}</li>
    </ul>
    <div class="big-shapes">
        <div class="shape triangle outline"></div>
        <div class="shape square"></div>
        <div class="shape circle"></div>
        <div class="shape rombo"></div>
    </div>
    <input [hidden]="joined" type="text" #alias placeholder="Introduce tu alias" />
    <button [hidden]="joined" id="start-join" class="btn btn-outline" (click)="joinGame(alias.value)">Join game</button>
    <button [hidden]="!joined" id="start-join" class="btn btn-outline" (click)="changeName()">Change name</button>
</div>