<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <h1>El código de partida es</h1>
    <h2 class="btn btn-outline">1234</h2>
    <ul id="start-users-list">
        <li class="back-green">polribas14</li>
        <li class="back-red">koubura</li>
        <li class="back-blue">priis4</li>
        <li class="back-yellow">sirholler</li>
        <li class="back-green">iMartiinX</li>
        <li class="back-red">caca123</li>
        <li class="back-blue">holoholo</li>
    </ul>
    <div class="big-shapes">
        <div class="shape triangle outline"></div>
        <div class="shape square"></div>
        <div class="shape circle"></div>
        <div class="shape rombo"></div>
    </div>
    <input type="text" placeholder="Introduce tu alias" />
    <button id="start-join" class="btn btn-outline">Join game</button>
</div>