<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <div id="question-timer">
        <div class="circle circle-blue"><span>{{ answers_count }}</span>answers</div>
        <div class="circle circle-red"><span>{{ time }}</span>seconds</div>
        <div class="circle circle-green"><span>{{ game.punts }}</span>points</div>
    </div>
    <h1 *ngIf="pregunta" class="question">{{pregunta.pregunta}}</h1>
    <ul id="answers" *ngIf="!haRespondido && pregunta">
        <li (click)="responder('0')" [class.selected]="respuesta==0">
            <div class="shape triangle outline"></div>
            <span>{{pregunta.respuestas[0]}}</span>
        </li>
        <li (click)="responder('1')" [class.selected]="respuesta==1">
            <div class="shape rombo"></div>
            <span>{{pregunta.respuestas[1]}}</span>
        </li>
        <li (click)="responder('2')" [class.selected]="respuesta==2">
            <div class="shape circle"></div>
            <span>{{pregunta.respuestas[2]}}</span>
        </li>
        <li (click)="responder('3')" [class.selected]="respuesta==3">
            <div class="shape square"></div>
            <span>{{pregunta.respuestas[3]}}</span>
        </li>    
    </ul>
    <div id="ha-respondido" *ngIf="haRespondido">
        <div id="answer" [ngClass]="{'back-red': pregunta.respuesta_correcta=='0', 'back-blue': pregunta.respuesta_correcta=='1', 'back-yellow': pregunta.respuesta_correcta=='2', 'back-green': pregunta.respuesta_correcta=='3'}">
            <div class="shape" [ngClass]="{'triangle outline': pregunta.respuesta_correcta=='0', 'rombo': pregunta.respuesta_correcta=='1', 'circle': pregunta.respuesta_correcta=='2', 'square': pregunta.respuesta_correcta=='3'}"></div>
            <span>{{ pregunta.respuestas[pregunta.respuesta_correcta] }}</span>
        </div>
        <h2>{{ acertado ? '¡Respuesta correcta!' : 'Suerte la próxima vez' }}</h2>
        <div id="score">
            <span id="points-span"><span id="points-number">{{ game.punts }}</span> points</span>
        </div>
        <button id="next-question-button" class="btn btn-outline" disabled>Waiting...</button>
    </div>
</div>