<div id="main-container">
    <div id="logo"><img width="60" src="../../assets/img/logo.png" alt="Logo"></div>
    <div id="question-timer">
        <div class="circle circle-blue"><span>43</span>answers</div>
        <div class="circle circle-red"><span>26</span>seconds</div>
        <div class="circle circle-green"><span>{{ game.punts }}</span>points</div>
    </div>
    <h1 *ngIf="pregunta" class="question">{{pregunta.pregunta}}</h1>
    <ul id="answers" *ngIf="!haRespondido && pregunta">
        <li (click)="responder(0)" [class.selected]="respuesta==0">
            <div class="shape triangle outline"></div>
            <span>{{pregunta.respuestas[0]}}</span>
        </li>
        <li (click)="responder(1)" [class.selected]="respuesta==1">
            <div class="shape rombo"></div>
            <span>{{pregunta.respuestas[1]}}</span>
        </li>
        <li (click)="responder(2)" [class.selected]="respuesta==2">
            <div class="shape circle"></div>
            <span>{{pregunta.respuestas[2]}}</span>
        </li>
        <li (click)="responder(3)" [class.selected]="respuesta==3">
            <div class="shape square"></div>
            <span>{{pregunta.respuestas[3]}}</span>
        </li>    
    </ul>
    <div id="ha-respondido" *ngIf="haRespondido">
        <div id="answer" class="back-red">
            <div class="shape triangle outline"></div>
            <span>{{pregunta.respuesta_correcta}}</span>
        </div>
        <h2 *ngIf="acertado">¡Respuesta correcta!</h2>
        <h2 *ngIf="!acertado">Suerte la próxima vez</h2>
        <div id="score">
            <span id="points-span"><span id="points-number">{{puntos}}</span> points</span>
        </div>
        <button id="next-question-button" class="btn btn-outline" disabled>Waiting...</button>
    </div>
</div>